# Backend configuration
PORT=3001
DB_HOST=localhost
DB_USER=u6axwhnwuhpzi
DB_PASSWORD=11fJ1j)%+@&+
DB_NAME=dbjjfx6ztbhooy
DB_PORT=3306

# Frontend API base
# Leave empty to use Firebase directly
VITE_API_BASE=

# Google Merchant configuration
GOOGLE_MERCHANT_ID=
GOOGLE_API_KEY=
